.btn-main {
  background: linear-gradient(124deg, #7525a1, #b864ce) !important;
  border: 0 !important;
  border-radius: 8px !important;
  font-family: "Tajawal", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  padding: 23px 19px;
  height: 40px;

}
.breadcrumb .active
{
  color: #6a1b9a !important;

}
.seperator
{
  color: #ccc !important;
}
.text-inherit
{
  color: #ccc;
}
.fillter
{
.custom_select
{
  background-color: #292929;
  border: 0 !important;
  border-radius: 13px !important;
  color: #fff !important;
  padding: 0px 8px;
  font-size: 15px !important;
}
}
.create_course
{
  background-color: #262626;
  .card-header
  {
    border-bottom: 0 !important;
  }
  h5
  {
    color: #fff !important;
  }
  label
  {
    color: #fff !important;
  }
  select{
    background-color: #262627 !important;
    border: 1px solid #464646;
  }
  input
  {
    border: 1px solid #464646;
  }
  textarea
  {
    border: 1px solid #464646;
  }
  .image-upload__boxInner
  {
    color: #000;
  }
  #fileUpload
  {
    h5
    {
      color: #000 !important;
    }
  }
  .ql-editor
  {
    color: #fff;
    text-align: right;
    direction: rtl;
    padding: {
      color: #fff;
    };
  }
}

