/* ==================== Course Details Css Start ========================== */
.course-item {
  &__button {
    &:hover,
    &.active {
      span {
        color: var(--main-600) !important;
      }
    }
    &.active {
      .course-item__arrow i::before {
        content: "\E136" !important;
      }
    }
  }
  &-dropdown {
    display: none;
    &.active {
      display: block;
    }
  }
}


/* Player Css Start */
.player {
    width: 100%;
  }
  .plyr__poster {
    background-size: cover;
  }
  
  .plyr__controls__item {
      &.plyr__control {
          &[data-plyr="pip"] {
            @include msm-screen {
                display: none;
            }
          }
          &[data-plyr="fullscreen"] {
            @include xsm-screen {
                display: none;
            }
            }
      }
  }
  .card-overly
  {
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    padding: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    border: 2px solid #6a1b9a;
    transform: translateY(60px);
    transition: transform .4s ease;
    animation-duration: .9s;
    animation-fill-mode: forwards;
  }


/* Player Css End */

/* ==================== Course Details Css End ========================== */
