.timeline {
  position: relative;
  margin: 40px 0;
  padding-right: 40px;

  &::before {
    content: "";
    position: absolute;
    right: 15px;
    top: 0;
    width: 3px;
    height: 100%;
    background: #7b2ca6;
  }

  .timeline-item {
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      .timeline-content {


      }
    }

    .timeline-dot {
      position: absolute;
      right: -31px;
      top: 39%;
      width: 15px;
      height: 15px;
      background: #fff;
      border: 3px solid #7b2ca6;
      border-radius: 50%;
    }

    .timeline-content {
      background: #252525;
      padding: 15px 20px;
      border-radius: 10px;
      margin-left: 30px;
      font-weight: bold;
      transition: 0.3s;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
      color: #fff;

      h3 {
        font-size: 18px;
        font-weight: bold;
      }

      p {
        font-size: 13px;
        color: #8a8787;
        font-weight: 500;
      }
    }
  }
}

// Video in Modal
#videoContainer {
  iframe {
    width: 100% !important;
    height: 400px;
    border: 0;
  }
}
.main__btn {
  display: block;
  width: fit-content;
  color: #fff;
  background: linear-gradient(124deg, #7525a1, #b864ce);
  border-radius: 7px;
  padding: 6px 24px;
  transition: background .3s ease-in-out;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  font-family: 'Tajawal' !important;
}
.main-breadcrumb h1 {
  font-size: 20px;
  color: #fff;
}
.timeline .timeline-item .timeline-content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}