.cart {
  height: 75vh;
  overflow-y: auto;
  padding-left: 0.5rem;

  @include responsive(max, 992) {
    height: auto;
    overflow-y: unset;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #5a5a5a70;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 0.5rem;
    color: $white-color;

    &__img {
      width: 165px;
      flex-shrink: 0;
      height: 80px;
      margin-right: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    &__content {
      padding: 0.5rem;
      padding-left: 1.75rem;

      &__price {
        color: $yellow-color;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    @include responsive(max, 480) {
      flex-direction: column;
      align-items: flex-start;

      &__img {
        width: 100%;
        height: 150px;
      }
    }
  }
}

.cart-total {
  background-color: #5a5a5a70;
  border-radius: 12px;
  padding: 2rem 1.5rem;
  color: $white-color;

  &__header {
    display: flex;
    align-items: center;
    gap: 4px;

    .current-price {
      color: $yellow-color;
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .old-price {
      color: gray;
      font-size: 0.85em;
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: gray;
      }
    }
  }

  &__paragraph {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
  }
}
.empty-cart
{
  i{
    color: #676667;
  }
  color: #fff;
  h3
  {
    font-size: 26px;
    margin-bottom: 20px;
  }
  p{
    color: #9c9a9a;
    font-size: 17px;
  }
  .btn
  {
    background-color: #6a1b9a;
    border: 0;
    margin-top: 60px !important;
    padding: 13px 70px;
    font-size: 19px;
    i{
      color: #fff;
    }
  }
}
.main__btn {
  background: #6a1b9a;
}
