#partners-section {
  h1
  {
    span{
      color: #fff !important;
    }
  }

  .brands-slider2 {
    direction: ltr !important;
    button
    {
      display: none;
    }
  }

  .owl-carousel {
    margin-top: 20px;
    margin-right: 10px;
  }
  .brands-slider
  {

    button
    {
      display: none !important;
    }
  }
  position: relative;

    padding: 100px 0;

  .title-purple {
    color: #6A1B9A;
    font-size: 45px;
    font-weight: 800;

  }
  h4
  {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .big-purple {
    color: #6A1B9A;
    font-size: 45px;
  }

  .desc {
    margin-left: auto;
    font-size: 16px;
    line-height: 1.9;
    opacity: .9;

  }

  .contact-form {
    .input-box {
      border: 1px solid #6a1b9a;
      border-radius: 30px;
      padding: 15px 22px;
      direction: rtl;

      input, select {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: #757572;
        font-size: 16px;
        direction: rtl;
        option {
          color: #000;
        }
      }
    }
  }

  .main-btn {
    color: #fff;
    border: none;
    padding: 13px 39px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(124deg, #7525a1, #b864ce);

    &:hover {
      background: #a135a1;
    }
  }

  .logos img {
    max-height: 45px;
    opacity: 0.9;
    max-height: auto;
    opacity: .9;
    margin-top: 20px;
  }

  .side-btn {
    border: 2px solid #6A1B9A;
    background: rgba(196,65,196,0.1);
    color: #fff;
    padding: 14px 30px;
    width: 230px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 15px;
    text-align: center;

    &:hover {
      background: #6A1B9A;
    }
  }
  .sub_1 {
    position: relative;
    color: #6A1B9A;
    border: 2px solid #6A1B9A;
    border-radius: 16px;
    padding: 9px 20px;
    margin-top: 20px !important;
    font-weight: bold;
   h3
   {
     font-weight: bold;
   }

  }
  .sub_2 {
    border: 2px solid #666565;
    h3
    {
      font-weight: bold;
      color: #666565;
    }

  }

}
