#partners-section {

  position: relative;

    padding: 100px 0;

  .title-purple {
    color: #6A1B9A;
    font-size: 55px;
    font-weight: 800;

  }

  .big-purple {
    color: #6A1B9A;
    font-size: 60px;
  }

  .desc {
    width: 80%;
    margin-left: auto;
    font-size: 16px;
    line-height: 1.9;
    opacity: .9;
  }

  .contact-form {
    .input-box {
      border: 1px solid #6a1b9a;
      border-radius: 13px;
      padding: 15px 22px;
      direction: rtl;

      input, select {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: #757572;
        font-size: 16px;
        direction: rtl;
        option {
          color: #000;
        }
      }
    }
  }

  .main-btn {
    background: #6A1B9A;
    color: #fff;
    border: none;
    padding: 12px 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;

    &:hover {
      background: #a135a1;
    }
  }

  .logos img {
    max-height: 45px;
    opacity: 0.9;
    max-height: 30px;
    opacity: .9;
    margin-top: 20px;
  }

  .side-btn {
    border: 2px solid #6A1B9A;
    background: rgba(196,65,196,0.1);
    color: #fff;
    padding: 14px 30px;
    width: 230px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 15px;
    text-align: center;

    &:hover {
      background: #6A1B9A;
    }
  }
  .sub_1 {
    position: relative;
    color: #6A1B9A;
    border: 1px solid #6A1B9A;
    border-radius: 16px;
    padding: 9px 20px;
    margin-top: 20px !important;
    font-weight: bold;
   h3
   {
     font-weight: bold;
   }
    &::after {
      content: "";
      position: absolute;
      left: -18px;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-right: 18px solid #6A1B9A;
    }

  }
}
