.meetup-wrapper {
  color: #fff;
  .meetup-title {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
  }

  /* Host */
  .host-box {
    .host-img {
      width: 46px;
      height: 46px;
      border-radius: 15px;
    }

    .host-text {
      font-size: 15px;
      color: #fff !important;

      span {
        font-weight: 600;
      }
    }
  }

  /* Mini Card */
  .community-card {
    background: hsla(0, 0%, 100%, .08);
    padding: 18px;
    border-radius: 18px;
    gap: 18px;

    .community-img {
      width: 110px;
      border-radius: 10px;
    }

    .rating {
      font-size: 16px;

      .stars {
        color: #6a1b9a;
        margin: 0 4px;
      }

      .count {
        color: #fff;
      }
      h5
      {
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
      }
    }
  }

  /* Details */
  .details {
    h4 {
      font-weight: 600;
      margin-bottom: 8px;
    }

    .details-text {
      font-size: 16px;
      line-height: 1.6;
      color: #fff;
    }
  }

  /* Right Side Card */
  .big-card {
    .big-img {
      border-radius: 18px;
    }

    .info-card {
      background: #262626;
      box-shadow: 0 4px 20px rgba(0, 0, 0, .08);

      p {
        font-size: 16px;
        i {
          color: #6a1b9a;
          margin-right: 6px;
        }
      }
    }
  }

  .location-box,
  .attendees-section {
    border-radius: 16px;

  }
  .location-box p{
    color: #fff !important;
  }
  .map-wrapper iframe {
    border-radius: 18px;
  }

  /* Attendees */
  .attendees-list {
    align-items: center;

    .attendee {
      text-align: center;

      .img-wrapper {
        width: 65px;
        height: 65px;
        overflow: hidden;

        img {
          width: 65px;
          height: 65px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .others span {
      width: 65px;
      height: 65px;
      border-radius: 50%;
    }
  }

  .count {
    background: #141414;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 14px;
  }
  .text-primary
  {
    color: rgb(106 27 154) !important;
  }
  .bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(106 27 154) !important;
  }
}

 .meetup-wrapper .attendees-section
{
  background-color: #262626;
}
.meetup-wrapper .big-card .info-card p i {
  color: #6a1b9a;
  margin-right: 6px;
  font-size: 19px;
  margin-left: 10px;
}
.details .list-disc
{
  padding: 0 ;
}
.details .list-disc li{
  line-height: 30px;
}
.filter-box {

  select,
  input {
    background-color: #262626;
    color: #eee;
    border-radius: 6px;
    font-size: 14px;
    padding: 9px 12px;
    border: 1px solid #141414;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[type="date"] {
    position: relative;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);  // يخلي لون الأيقونة أبيض
    cursor: pointer;
  }
}
.host-img-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 3px;
  position: relative;
  display: inline-block;

  background: conic-gradient(#fff 0deg, #fff 360deg);
  animation: spinBorder 3s linear infinite;
}

.border-rotate {
  width: 53px;
  height: 53px;
  position: relative;
}

.border-rotate::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 2px dashed #ccc;
  box-sizing: border-box;
  display: none;
  //animation: spinBorder 10s linear infinite;
}

.host-img {
  width: 54px;
  height: 54px;
  border-radius: 15px;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 5;
}
@keyframes spinBorder {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.meetup-wrapper
{
  .details
  {
    h4
    {
      border-right: 3px solid rgb(106 27 154);
      padding-right: 7px;
      font-size: 17px;
      color: #fff !important;
    }
  }
  .event-image
  {
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
  }
  .event-image img
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .event-address
  {
    background: hsla(0, 0%, 100%, .08);
    border-radius: 12px;
  }
  .schedule-tabs {
    background-color: #262626;
    border-radius: 18px;
    color: #ffff;
    .nav-link {
      background: none;
      color: #fff;
      text-align: center;
      font-size: 14px;
      border-radius: 0;
      padding-bottom: 8px;
      border-bottom: 3px solid transparent;
      transition: 0.2s ease;

      strong {
        display: block;
        font-size: 16px;
      }

      &.active {
        color: #fff;
        border-bottom-color: #6a1b9a;
        font-weight: bold;
      }
    }
  }

  .event-box {
    display: flex;
    padding-bottom: 7px;

    .event-time {
      min-width: 180px;
      text-align: center;

      .event-badge {
        background: #fce4ec;
        color: #6a1b9a;
        padding: 6px 18px;
        border-radius: 25px;
        font-size: 12px;
        display: inline-block;
        font-weight: 600;
      }

      p {
        color: #888;
        font-size: 13px;
        margin-top: 10px;

        i {
          margin-right: 4px;
        }
      }
    }

    .event-details {
      flex: 1;


      h4 {
        font-weight: 700;
        margin-bottom: 8px;
      }

      p {
        color: #fff ;
        line-height: 1.6;
        margin-bottom: 12px;
      }

      .speakers {
        display: flex;

        .speaker-img {

          width: 45px;
          height: 45px;
          border-radius: 6px;
          object-fit: cover;
          margin-right: 6px;
        }
      }
    }
  }

  .details {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        font-size: 15px;

        i {
          color: #6a1b9a;
          margin-left: 6px;
        }

        em {
          color: #fff !important;
        }
      }
    }
  }

}
.meetup-wrapper {
  .schedule-tabs {
    background-color: #262626;
    border-radius: 13px;
    color: #fff;

    .nav-link {
      strong {
        display: block;
        font-size: 19px;
        margin-bottom: 8px;
      }
    }
  }

  .details {
    h4 {
      border-right: 3px solid #6a1b9a;
      padding-right: 7px;
      font-size: 16px;
      color: #6a1b9a;
      font-weight: bold;
    }
  }

  .event-box {
    .event-time {
      .event-badge {
        background: #fff;
        color: #000;
        padding: 13px 21px;
        border-radius: 25px;
        font-size: 12px;
        display: inline-block;
        font-weight: 600;
      }

      p {
        color: #888 !important;
        font-size: 13px;
        margin-top: 10px;
      }
    }

    .event-details {
      border-right: 1px solid #fff;
      padding-right: 10px;

      .speakers {
        .speaker-img {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          object-fit: cover;
          margin-right: 6px;
        }
      }
    }

    .event-title {
      color: #fff;
      border: 0 !important;
      margin-bottom: 8px;
      font-size: 17px;
    }
  }
}
.meetup-wrapper .details ul{
  background: linear-gradient(358deg, rgba(44, 40, 40, 0) -10.1%, #393434 94.9%);
  border-radius: 10px 10px 0 0;
}
.meetup-wrapper .schedule-tabs
{
  padding: 0 ;
}

.meetup-wrapper  .tab-content>.active {
  display: block;
  padding: 10px;
}

.event-address
{
  .info-card
  {
    p
    {
      font-size: 16px;
    }
  }
}
.ticket-card {
  .ticket_price
  {
    display: flex;
    gap: 10px;
    font-size: 17px;
    p{
      font-size: 16px;
      color: #adadad !important; ;

    }
  }
  h2
  {
    text-align: center;
    font-size: 24px;
    color: #fff;
  }
  background-color: #262626 !important;
  border-radius: 15px !important;
}
.ticket-type-box {
  p{
    color: #fff !important;
    text-align: center;
  }

  .type-name {
    color: #8a2be2;
    font-size: 1.1rem;
  }
}

.dotted-hr {
  border: none;
  border-top: 1px dotted #ccc;
  opacity: 1;
}

.quantity-input {
  width: 100px;
  margin: auto;
  .btn-outline-secondary {
    color: #555;
    border-color: #ccc;
    background-color: #fff;
    font-weight: bold;
    padding: 0.1rem 0.5rem;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .form-control {
    border-color: #ccc;
    background-color: #fff;
    font-weight: bold;
    padding: 0.1rem 0;
  }
}

.get-tickets-btn {
  background-color: #6a1b9a !important;
  color: #fff;
  border: none;
  border-radius: 0.375rem;
  padding: 0.75rem 0;
  letter-spacing: 1px;
  border-radius: 45px;

  &[disabled] {
    opacity: 1;
    cursor: not-allowed;
  }

}
$countdown-bg: linear-gradient(135deg, #6a11cb, #2575fc);
$countdown-shadow: rgba(0,0,0,0.2);
$text-color: #fff;
$box-bg: rgba(255,255,255,0.1);
$box-radius: 15px;

.countdown-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
  border-radius: 0px;
  padding-bottom: 40px;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
  position: absolute;
  padding: 0;
  bottom: 0;
  background-color: #6a1b9a;
  padding: 0;
  width: 100%;
  padding: 1px 0;
  .countdown {
    display: flex;
    gap: 20px;

    .time-box {
      text-align: center;
      /* background: hsla(0, 0%, 100%, .1); */
      padding: 0 0;
      border-radius: 5px;
      min-width: 50px;
      transition: all .3s ease;

      &:hover {
        transform: translateY(0px);
        background: rgba(255,255,255,0.2);
      }

      span {
        display: block;
        font-size: 24px;
        font-weight: bold;
      }

      p {
        margin: 0;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  // Responsive للهواتف
  @media (max-width: 576px) {
    .countdown {
      flex-direction: column;
      gap: 15px;

      .time-box {
        min-width: 100px;
        padding: 15px 20px;

        span {
          font-size: 35px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}
#shareModal
{
  .modal-footer
  {
    border-top: 1px solid #3b3b3b69;
  }

  .modal-content
  {    background-color: #262626;
    color: #fff;

  }
  .modal-header
  {
    border-bottom: 0;
  }
  .modal-header .btn-close
  {
      color: #fff !important;
      filter: contrast(0.5);
  }
  .social-share a img
  {
    height: 35px;
  }
  .social-share {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

    a {
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      }
    }

    @media (max-width: 576px) {
      a {
        width: 40px;
        height: 40px;
      }
    }
  }
}
.speaker
{
  img
  {
    border-radius: 15px;
    margin-bottom: 10px;
    border: 3px solid rgb(106 27 154 / 47%);
  }
  h3
  {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  p {
    color: #ccc;
  };
}
.share_btn
{
  width: 100%;
  padding: 10px;
  padding: .75rem 0;
}
.ticket-price
{
  color: #fff !important;
}
@media screen and (max-width: 992px) {
  .event-box
  {
    display: block !important;
  }
  .speaker
  {
    margin-bottom: 20px;
  }
  .speaker img {
    border-radius: 15px;
    margin-bottom: 10px;
    border: 3px solid rgba(106, 27, 154, .47);
    max-height: 180px;
  }
  .countdown-wrapper
  {
    height: 60px;
  }
  .countdown-wrapper .countdown {
    flex-direction: column;
    display: contents !important;
  }
  .countdown-wrapper .countdown .time-box span {
    font-size: 21px;
  }
  .countdown-wrapper .countdown .time-box {
    min-width: 72px !important;
    padding: 15px 20px;
  }

}