.files_design {
  .product__img {
    width: 100%;
    height: 350px !important;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;

    img {
      transition: opacity .45s ease;
    }
  }
}

.files_details
{
  h3
  {
    color: #fff;
  }
  p
  {
    color: #ccc !important;
  }
  .price
  {
    color: #6a1b9a !important;
    margin-top: 18px;
  }
}
.swiper-button-next, .swiper-button-prev
{
  color: #fff !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  background: linear-gradient(124deg, #7525a1, #b864ce);
  font-size: 20px;
  padding: 8px;
  border-radius: 7px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after
{
  background: linear-gradient(124deg, #7525a1, #b864ce);
  font-size: 20px;
  padding: 8px;
  border-radius: 7px;
}
.files_details p {
  color: #ccc !important;
  font-size: 16px;
}

.files_details
{
  .icon__btn
  {
    width: max-content !important;
    padding: 0;
  }
}