.forget_password
{
  h6
  {
    font-size: 20px;
  }
  .form-group {
    margin-bottom: .5rem;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #09080c;
    color: #fff;
    border: 0;
    border-radius: 12px;
    gap: 4px;
    padding: 11px 14px;
    border: 1px solid #3c3b3b;
    font-size: 17px;
  }
  .form-group input[type=text], .form-group input[type=email], .form-group input[type=password], .form-group textarea {
    background-color: #09080c;
    color: #fff;
    border: 0;
    border-radius: 0;
    padding: 0;
    font-size: 19px;
  }
  .main__btn
  {
    border-radius: 6px;
    padding: 10px 58px;
    font-size: 17px;
  }
}