.login {
  max-width: 800px;
  background-color: $darker-color;
  margin-inline: auto;
  border-radius: 1.5rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  .main__heading {
    margin-inline: auto;
    margin-bottom: 0.5rem;
  }

  .login-width {
    width: 100%;
    max-width: 450px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  &__remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    label {
      color: $white-color;
      cursor: pointer;
    }
  }

  .forget__text {
    color: $white-color;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $red-color;
    }
  }

  &__with {
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: $white-color;
    width: 100%;
    max-width: 450px;
    margin-inline: auto;

    a {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $red-color;
      color: $white-color;
      font-size: 0.75rem;

      &:hover {
        background-color: $gray-color;
      }
    }
  }

  .logOrSign {
    color: $red-color;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $gray-color;
    }
  }

  &.verify-account {
    @include responsive(max, 400) {
      gap: 1rem;

      .main__heading {
        width: 70%;
        text-align: center;
        line-height: 1.75rem;
      }

      p {
        font-size: 1rem !important;
      }
    }
  }
}