.package_privew
{
  .course-iframe
  {
    img
    {
      width: 100%;
    }
  }
  .diploma-scroll {
    max-height: 500px;
    overflow-y: scroll;
    padding: 10px;

    scrollbar-width: thin;
    scrollbar-color: #b4b4b4 #141415;
  }
  .diploma-scroll::-webkit-scrollbar {
    width: 8px;
  }

  .diploma-scroll::-webkit-scrollbar-track {
    background: #141415;
    border-radius: 10px;
  }

  .diploma-scroll::-webkit-scrollbar-thumb {
    background: #141415;
    border-radius: 10px;
  }

  .diploma-scroll::-webkit-scrollbar-thumb:hover {
    background: #141415;
  }

}