// color
$darker-color: #09080c;
$dark-color: #09080c;
$gray-color: #09080c;
$red-color: #6a1b9a;
$green-color: #5aca26;
$yellow-color: #ffb800;
$white-color: #fff;
$black-color: #000;

// gradient
$main-gradient: linear-gradient(315deg, #691b9a, #121213);
