
@import "./abstracts/functions";
@import "./abstracts/variable";
@import "./abstracts/mixins";

@import "./layout/sidebar";
@import "./layout/top-navbar";
@import "./layout/dashboard-body";
@import "./layout/dashboard-footer";
@import "./layout/breadcrumb";
@import "./layout/mentor-card";
@import "./layout/share-social-icon";
@import "./layout/step-list";
@import "./layout/chat";



@import "./pages/auth";
@import "./pages/billing";
@import "./pages/course-details";
@import "./pages/email";
@import "./pages/index-two";
@import "./pages/library";
@import "./pages/live-class";
@import "./pages/resources";
@import "./pages/setting-my-details";
@import "./pages/general";
@import "./pages/courses";
@import "./pages/create_course";


@import "./components/button";
@import "./components/toggle_btn";
@import "./components/card";
@import "./components/apexcharts";
@import "./components/avatar-upload";

@import "./components/dropdown";
@import "./components/editor";
@import "./components/form";
@import "./components/full-calendar";
@import "./components/pagination";
@import "./components/plan";
@import "./components/range-slider";
@import "./components/tab";
@import "./components/table";
@import "./components/products";
@import "./components/vector-map";
@import "./components/dataTables";
@import "./components/filter";