.thin-scroll {
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &.thin-scroll--x::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $red-color;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #555;
    border-radius: 5px;
  }
}

.main__heading {
  color: $white-color;
  width: fit-content;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid $red-color;
  margin-bottom: 1.5rem;
}

.text-red {
  color: $red-color;
}

.rate {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star-ratings {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 2rem;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: fit-content;

  &.small-stars {
    font-size: 1rem !important;
  }

  .fill-ratings {
    --width: 0;

    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
    width: var(--width);
    direction: ltr;
    top: 0;
    bottom: 0;
    left: 0;

    span {
      display: inline-block;
    }
  }

  .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
    width: 100%;
  }
}

.offcanvas {
  background-color: $darker-color;
  color: $white-color;
}

@media screen and (min-width: 992px) {
  .video-container {
    max-width: unset;
    width: calc(100% - 120px);
    margin-inline: auto;
  }
}

.video-frame {
  display: flex;

  iframe {
    width: 100% !important;
    aspect-ratio: 428 / 302;
    height: auto;
    max-height: calc(100svh - 120px);
  }

  @include responsive(max, 575) {
    iframe {
      height: auto;
    }
  }
}