body {
  background-color: $dark-color;
  font-family: "Cairo", sans-serif;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $red-color;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #555;
  }

  &:has(.loading-overlay),
  &:has(.navbar-nav.collapsed-mobile.active) {
    overflow: hidden;
  }

  &:has(.loading-overlay.hidden) {
    overflow: unset;
  }

  &.lightbox-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

section {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

p {
  line-height: 1.929;
  font-size: 14px;
  margin-bottom: 0px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - 270px);

  &:has(.empty-state) {
    min-height: unset;
    padding-block: unset;
  }

  &:has(.login),
  &:has(.error) {
    justify-content: center;
    padding-block: 3rem;
  }
}
