.alert-banner {
  background-color: $red-color;
  font-size: 12px;
  padding: 0.75rem;
  padding-inline-end: 1rem;
  position: relative;

  &__text > *  {
    display: inline !important;
  }

  .close__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
}
