.certificate-section {
  &__photo {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  }
  .certificate-section h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 24px;
    margin-top: 22px;
    font-weight: bold;
  }
  .certificate-section__image img
  {
    border-radius: 15px;
  }
  &__features {
    background-color: #393434;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem 0;
    padding: 3rem 6rem 3rem;

    @include responsive(max, 767) {
      padding: 3rem;
    }
  }

  &__feature {
    display: flex;
    gap: 1rem;
  }

  .certificate-icon {
    width: 50px;
    height: auto;
    flex-shrink: 0;
    object-fit: contain;
  }

  &__complete,
  &__guarantee {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;

    @include responsive(max, 1200) {
      width: 50%;
    }
    @include responsive(max, 991) {
      width: unset;
    }
  }

  &__title {
    color: #5aca26;
    font-weight: 700;
    font-size: 24px;
  }

  hr {
    background-color: #6a6666;
    border: 0;
    width: 70%;
    height: 1px;
  }

  .main__btn {
    @media (max-width: 1199px) and (min-width: 992px) {
      margin-inline: auto;
    }
  }
}
.green-color {
  color: #6eba2a;
}
