.donut-chart {
  $percentage: var(--percentage, 0);

  flex-shrink: 0;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(from 180deg, #5aca26 $percentage, #635d5d $percentage);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    height: 130px;
    background: #393434;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: $white-color;
  }
}
