.filter-icon {
  background-color: $red-color;
  color: $white-color;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  flex-shrink: 0;

  &:hover {
    background-color: rgba($red-color, 0.8);
  }

  &.reset {
    background-color: $green-color;

    &:hover {
      background-color: #3d8b19;
    }
  }
}

.filter-group {
  margin-block: 1rem;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;

    .fa-star {
      font-size: 0.75rem;
      color: #ccc;

      &.fill {
        color: gold;
      }
    }
  }
}
