.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black-color;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    width: 200px;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &.hidden {
    display: none;
  }
}
