.select2-container--default .select2-selection--single {
  background-color: #262626 !important;
  border: 0 !important;
  border-radius: 4px;
  padding: 0;
  color: #fff !important;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
  color: #fff;
  font-size: 13px;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 39px !important;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 6px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 36px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 6px !important;
  right: 1px;
  width: 20px;
}
.select2-dropdown {
  background-color: #262626 !important;
  border: 1px solid #262626 !important;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #4f4e4e !important;
  background-color: #262626 !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #6a1b9a !important;
  color: white !important;
}
.select2-container--default .select2-results__option--selected {
  background-color: #6a1b9a;
  color: #fff !important;
}
.select2-results__option--selectable {
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  color: #fff;
  font-size: 14px;
}
.select2-container--default .select2-results__option--selected {
  background-color: #6a1b9a !important;
}