.toggle-btn {
  width: 50px;
  height: 26px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: .3s;
  display: inline-block;

  &::before {
    content: "";
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: .3s;
  }

  &.active {
    background: #28a745;

    &::before {
      left: calc(100% - 24px);
    }
  }
}
